:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* RESET */
.text-center {
  text-align: center;
}